.box{
	border:1px solid black;
	width:14px;
	height:14px;
	display: inline-block;
	padding:0;
	margin:0 auto;
	float:left;
	


}

#content{
	width:480px;
	height:480px;
	position:absolute;

}

#food{
	width:14px;
	height:14px;
	display:inline-block;
	background-color: orange;
	border-radius: 10px;

}

#score{
	font-size: 4em;
	position:absolute;
	bottom:50px;
}